		<%= render 'layouts/header'%>

		<%= render 'layouts/sidebar'%>
		
		
		<!-- MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">


				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li><a class="link" href="/home/index/">Property</a></li><li>Details</li>
				</ol>
			
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			
			
			<div id="content">

				<!-- widget grid -->
				<section id="widget-grid" class="">
					<% if flash[:msg] %>
				      <div class="alert alert-success delete-alert" style="text-align: center;">
				        <a href="#" class="close" data-dismiss="alert">&times;</a>
				        <%= flash[:msg] %>  
				      </div>
			    	<% end %>
					<!-- row -->
					<div class="row">
				
						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<div class="row">
								<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
									<h1 class="page-title txt-color-blueDark">
										<i class="fa fa-fw fa-home"></i> 
											Property Details
									</h1>
								</div>
							
								
							</div>
				
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="false"
								data-widget-sortable="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-info"></i> </span>
									<h2>Property Details</h2>
									
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
										
										<div class="row" style="margin:20px;">
											
											
											<div class="col-xs-12 col-sm-12 col-md-8">
												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">Address</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  <%= @home.address %></h3>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">Type</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  <%= @home.home_type %></h3>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">Price</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  $<%= @home.price %></h3>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">For Sale</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  <% if @home.for_sale %>Yes<% else %>No<% end %></h3>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">Home Open Date</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  <%= @home.open_house_date.strftime("%d-%m-%Y") %></h3>
													</div>
												</div>
														
												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">Start Time</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  <%= @home.open_house_start_time.strftime("%I:%M %p") %></h3>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">End Time</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  <%= @home.open_house_end_time.strftime("%I:%M %p") %></h3>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">Beds</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  <%= @home.beds %>+</h3>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-4">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">Baths</h3>
													</div>
													<div class="col-xs-8">
														<h3 style="margin: 0px 0px 10px; font-weight: bold;">:  <%= @home.baths %>+</h3>
													</div>
												</div>

												<a href="/home/edit/<%= @home.id %>">
													<button class="btn btn-primary" type="button">
														Edit
													</button>
												</a>
												
												<button class="btn btn-danger delete_row1" type="button" style="margin-left:20px" data-home_id="<%= @home.id %>" data-toggle="modal" data-target="#del_Modal1">
													Delete
												</button>


											</div>
											<div class="col-xs-12 col-sm-12 col-md-4">
												
												
											</div>
										</div>
				
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
							
				
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-3" data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="false"
								data-widget-sortable="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-picture-o"></i> </span>
									<h2>Property Images</h2>
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
										
										<div class="row" style="margin:20px;">
											<% @home_images.each do |i| %>
												
												<div class="col-xs-12 col-sm-4 col-md-2">
													<!-- <img src="<%= i['photo'] %>" class="img-responsive gallary_img" alt="img" data-big_img="<%= i['big_photo'] %>" style="cursor:pointer"> -->

													<a class="fancybox" rel="gallery1" href="<%= i['big_photo'] %>" title="">
														<img src="<%= i['photo'] %>" alt="" />
													</a>	


													<% if @current_user.is_admin %>
													<i class="fa fa-times remove_img" data-image_id="<%= i['id'] %>" aria-hidden="true" style="color: white; position: absolute; top: -15px; right: -10px; font-size: 24px; background-color: rgb(169, 3, 41); border-radius: 50%; width: 24px; padding-left: 3px;cursor:pointer" data-toggle="modal" data-target="#del_Modal"></i>
													<% end %>
												</div>
												<% if i['count']%6 == 0 %>
													</div>
													<div class="row" style="margin:20px;">
												<% end %>
											<% end %>
											<% if @count %>
												</div>
												<div class="row" style="margin:20px;">	
											<% end %>
										
										</div>
										
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
							<% if @current_user.is_admin %>
							<div  class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="false"
								data-widget-sortable="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-plus"></i> </span>
									<h2>Add Property Images</h2>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body">

										<form action="/home_image/add/<%= @home.id %>/" method="POST" class="dropzone" id="mydropzone" enctype='multipart/form-data'>
											<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
										</form>
										<button id="imgsubbutt" class="btn btn-primary" style="float: right;margin: 20px 0px;">Submit</button>
									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<% end %>
						</article>
						<!-- WIDGET END -->
				
					</div>
				
					<!-- end row -->
				
					<!-- end row -->
				
				</section>
				<!-- end widget grid -->

			</div>
			<!-- END MAIN CONTENT -->
			
		</div>
		<!-- END MAIN PANEL -->

		<!-- PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">Home Tours © 2016</span>
				</div>
			</div>
		</div>
		 
		<!-- END PAGE FOOTER -->

		<div class="modal fade bs-example-modal-lg" id="del_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		   
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title" id="myModalLabel" style="color: #848C9C;">Delete Image</h4>
		        </div>
		       
		        <div class="modal-footer">
		          <input type="hidden" class="review_id" value="">
		          <span style="float: left; font-size: 16px; color: rgb(107, 117, 137);">Are you sure you want to delete this Image?</span>
		          <button type="button" class="btn btn-default close_del" data-dismiss="modal">No</button>
		          <a href="" id="delete_it">
		          	<button type="button" class="btn btn-primary submit">Yes</button>
		          </a>
		        </div>
		      </div>
		  </div>
		</div>

			<div class="modal fade bs-example-modal-lg" id="del_Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		   
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title" id="myModalLabel" style="color: #848C9C;">Delete Property</h4>
		        </div>
		       
		        <div class="modal-footer">
		          <input type="hidden" class="review_id" value="">
		          <span style="float: left; font-size: 16px; color: rgb(107, 117, 137);">Are you sure you want to delete this Property?</span>
		          <button type="button" class="btn btn-default close_del" data-dismiss="modal">No</button>
		          <a href="" id="delete_it1">
		          	<button type="button" class="btn btn-primary submit">Yes</button>
		          </a>
		        </div>
		      </div>
		  </div>
		</div>
	
		<!-- <div id="largeImgPanel" onclick="this.style.display='none'">
			<div>
        <img id="largeImg" style="height:100%; margin:0; padding:0" />
    	</div>
    </div> -->
		<style>
			.text_bold{
				font-weight: bold;
			}
			.error{	
				color: red;
			}
			
		</style>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
		<!-- END SHORTCUT AREA -->

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="/assets/js/plugin/pace/pace.min.js"></script>

		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="/assets/js/libs/jquery-2.1.1.min.js"><\/script>');
			}
		</script>

		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="/assets/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="/assets/js/app.config.js"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="/assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 

		<!-- BOOTSTRAP JS -->
		<script src="/assets/js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="/assets/js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="/assets/js/smartwidgets/jarvis.widget.min.js"></script>

		<!-- EASY PIE CHARTS -->
		<script src="/assets/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<!-- SPARKLINES -->
		<script src="/assets/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<!-- JQUERY VALIDATE -->
		<script src="/assets/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="/assets/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="/assets/js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="/assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<!-- browser msie issue fix -->
		<script src="/assets/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<!-- FastClick: For mobile devices -->
		<script src="/assets/js/plugin/fastclick/fastclick.min.js"></script>

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->


		<!-- MAIN APP JS FILE -->
		<script src="/assets/js/app.min.js"></script>

		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
		<!-- Voice command : plugin -->
		<script src="/assets/js/speech/voicecommand.min.js"></script>

		<!-- SmartChat UI : plugin -->
		<script src="/assets/js/smart-chat-ui/smart.chat.ui.min.js"></script>
		<script src="/assets/js/smart-chat-ui/smart.chat.manager.min.js"></script>

		<!-- PAGE RELATED PLUGIN(S) -->
		<script src="/assets/js/plugin/datatables/jquery.dataTables.min.js"></script>
		<script src="/assets/js/plugin/datatables/dataTables.colVis.min.js"></script>
		<script src="/assets/js/plugin/datatables/dataTables.tableTools.min.js"></script>
		<script src="/assets/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
		<script src="/assets/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
		<script src="/assets/js/plugin/dropzone/dropzone.min.js"></script>
		<!-- Morris Chart Dependencies -->
		<script src="/assets/js/plugin/morris/raphael.min.js"></script>
		<script src="/assets/js/plugin/morris/morris.min.js"></script>
		<script src="/assets/js/plugin/moment/moment.min.js"></script>
		<script src="/assets/js/plugin/chartjs/chart.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
		<script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!
		

		$(document).ready(function() {
			
			pageSetUp();
			$(".fancybox").fancybox({
				openEffect	: 'none',
				closeEffect	: 'none'
			});
			

			var accept = ".jpeg,.jpg,.png,.gif,.bmp";
			Dropzone.autoDiscover = false;
			var myDropzone = new Dropzone("#mydropzone",{
	    addRemoveLinks: true,
	    autoProcessQueue: false,
	    
			acceptedFiles: accept, 
      uploadMultiple: true,	
      parallelUploads: 5,
      maxFilesize: 25,
      dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
			dictResponseError: 'Error uploading file!',
	    maxFiles: 5,
	    init: function() {
	        var thisDropzone = this;
	        var submitButton = document.querySelector("#imgsubbutt")
        	submitButton.addEventListener("click", function() {
            myDropzone.processQueue(); 
        	});
        	this.on("complete", function (file) {
			      if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
			        $('html, body').animate({ scrollTop: 0 }, 'fast');
            	$('.breadcrumb').animate({ scrollTop: 0 }, 'fast');            
			        location.reload();
			      }
			    });
        	
	        
		    }

		 });
		myDropzone.on("maxfilesexceeded", function(file) {
		  this.removeFile(file);
		})


		myDropzone.on("addedfile", function(file) {
		    if(this.files.length > 5){
		        for(var i=5;i<=this.files.length;i++)
		            this.removeFile( this.files[i] )    
		            alert("Maximum 5 images can be added")
		            return;
		    }
		    
		});


			// $('#imgsubbutt').click(function(){           
			//     $('#mydropzone').submit();
			// });

			
			$(document).on('click','.remove_img',function(){
				var image_id = $(this).data("image_id");
				var url = "/home_image/delete/"+image_id;
				$("#del_Modal").find('#delete_it').attr('href',url);
			});
			
			$(document).on('click','.delete_row1',function(){
				var home_id = $(this).data('home_id');
				var url = "/home/delete/"+home_id;
				$("#del_Modal1").find('#delete_it1').attr('href',url);
			});

			jQuery("div.alert").delay(3000).fadeOut("slow");

			
			/* // DOM Position key index //
		
			l - Length changing (dropdown)
			f - Filtering input (search)
			t - The Table! (datatable)
			i - Information (records)
			p - Pagination (paging)
			r - pRocessing 
			< and > - div elements
			<"#id" and > - div with an id
			<"class" and > - div with a class
			<"#id.class" and > - div with an id and class
			
			Also see: http://legacy.datatables.net/usage/features
			*/	
	
			/* BASIC ;*/
				var responsiveHelper_dt_basic = undefined;
				
				var breakpointDefinition = {
					tablet : 1024,
					phone : 480
				};
	
				$('#dt_basic').dataTable({
					"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
					"autoWidth" : true,
			        "oLanguage": {
					    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
					},
					"preDrawCallback" : function() {
						// Initialize the responsive datatables helper once.
						if (!responsiveHelper_dt_basic) {
							responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
						}
					},
					"rowCallback" : function(nRow) {
						responsiveHelper_dt_basic.createExpandIcon(nRow);
					},
					"drawCallback" : function(oSettings) {
						responsiveHelper_dt_basic.respond();
					}
				});
	
			/* END BASIC */
			
		})


		</script>

